<!DOCTYPE html>
<html ng-app="exampleApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script>
        angular.module('exampleApp', [])

            .controller('defaultCtrl', function($scope) {
                $scope.todos = [
                    { action: "Get groceries", complete: false, id:100, place:'store' },
                    { action: "Call plumber", complete: false, id:200, place:'home' },
                    { action: "Buy running shoes", complete: true, id:300, place:'store' },
                    { action: "Buy flowers", complete: false, id:400, place:'store' },
                    { action: "Call family", complete: false, id:500, place:'home' }
                ];

                $scope.addNewItem = function(newItem) {
                    var not = angular.isUndefined;
                    if(not(newItem) || not(newItem.action) || not(newItem.location)) {
                        return;
                    }

                    $scope.todos.push({
                        action: newItem.action + ' (' + newItem.location + ')',
                        complete: false
                    });
                };
							$scope.requireValue = true;
							$scope.matchPattern = new RegExp("^[a-z]"); // cannot begin with lower case letters
            });
    </script>
		<style type="text/css" media="screen">
			.redline{
				border: 1px solid red !important;
			}
			.redline-deep *{
				border: 1px solid red !important;
			}	
		</style>
</head>
<body ng-controller="defaultCtrl">
	<div id="todoPanel" class="panel">
		<h3 class="panel-header">
			To Do List
			<!--interesting way to get the number of certain elements in obj -->
			<span class="label label-info">
				{{(todos | filter: {complete: false}).length}}
			</span>
		</h3>

		<div class="row">
			<div class="col-xs-4">
				<div class="well">
					<div class="form-group row">
						<label for="actionText">Action:</label>
						<input type="text" id="actionText" class="form-control"
																				 ng-model="newTodo.action"/>
					</div>
					<div class="form-group row">
						<label for="actionLocation">Location:</label>
						<select class="form-control" id="actionLocation"
																	 ng-model="newTodo.location">
							<option>Home</option>
							<option>Office</option>
							<option>Mall</option>
						</select>
					</div>
					<button class="btn btn-primary btn-block"
						 ng-click="addNewItem(newTodo)">
						Add
					</button>
				</div>
			</div>
			<div class="col-xs-8">
				<table class="table">
					<thead>
						<tr><th>#</th><th>Action</th><th>Done</th></tr>
					</thead>
					<tr ng-repeat="item in todos">
						<td>{{$index + 1}}</td>
						<td>{{item.action}}</td>
						<td>
							<input type="checkbox" ng-model="item.complete"/>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!--
	 -NOTES 
	-->
	<h2>NOTES:</h2>
	<strong>angular.isUndefined;</strong> useful instead of =='undefined' || ==null
	<p>
	<strong>{\{(todos | filter: {complete: false}).length}}</strong> !--interesting way to get the number of certain elements in obj with property in object --
	</p>
	<!--
	 -CHECKBOXES 
	-->
	<h1> Using Checkboxes </h1>
	<h2> Listing 12-13 </h2>
	<h3> ng-true-value & ng-false-value: just replaces true and false boolean with any string of choice </h3>
	<div class="well">
		<div class="checkbox">
			<label>
				<input name="sample" type="checkbox" ng-model="inputValue" ng-true-value="Hurrah!" ng-false-value="Boo!">
				This is a checkbox and replaces boolean true and false with string set by ng-true-value and ng-false-value
			</label>
		</div>
	</div>
	<div class="well">
		<p>Model Value is set using ng-true-value and ng-false-value in checkbox above: {{inputValue}}</p>
	</div>
	<!--
	 -TEXTAREA 
	-->
	<h1> Using TEXTAREA </h1>
	<h2> Listing 12-14 </h2>
	<h3> form validation for textarea </h3>
	<form name="myForm" novalidate>
		<div class="well">
			<div class="form-group">
				<textarea name="sample" cols="40" rows="3" ng-model="textValue" ng-required="requireValue" ng-minlength="3" 
																																															 ng-maxlength="10" 
																								ng-pattern="matchPattern">
				</textarea>
			</div>
		</div>
		<div class="well">
			<p>myForm.sample.$error.required
			<span style="color:red">(needs ng-required)</span>
			: {{myForm.sample.$error.required}}
			</p>
			<p>myForm.sample.$error.minlength
			<span style="color:red">(3)</span>
			: {{myForm.sample.$error.minlength}}
			</p>
			<p>myForm.sample.$error.maxlength
			<span style="color:red">(10)</span>
			: {{myForm.sample.$error.maxlength}}
			</p>
			<p>myForm.sample.$error.pattern
			<span style="color:red">(cannot start with lower case letter, customized with new RegExp();)</span>
			: {{myForm.sample.$error.pattern}}
			</p>
			<p>myForm.sample.$valid: {{myForm.sample.$valid}}</p>
		</div>
		<!--
		-SELECT ELEMENTS 
		-->
		<h1> Using Select Elements </h1>
		<h2> Listing 12-15 </h2>
		<h3> ng-options="LABEL for VARIABLE in ARRAY"</h3>
		<h3> ng-options="SELECTED PROPERTY as LABEL for VARIABLE in ARRAY"</h3>
		<div class="well">
			<div class="form-group">
				<label>Select an Action:</label>
				<select ng-model="selectValue" ng-options="item.action for item in todos">
				</select>
				gives value="?" selected="selected" label="", which is blank first option in dropdown list
			</div>
			<div class="form-group">
				<label>Select an Action:</label>
				<select ng-model="selectValueB" ng-options="item.action for item in todos">
					<option value="">(Pick One)</option>
				</select>
				replaces first blank option in dropdown list
			</div>
			<div class="form-group">
				<label>Select an Action:</label>
				<select ng-model="selectValueC" ng-options="item.id as item.action for item in todos">
					<option value="">(Javier is the best)</option>
				</select>
				 ng-options="SELECTED PROPERTY as LABEL for VARIABLE in ARRAY", id in obj property
			</div>
			<div class="form-group">
				<label>Select an Action:</label>
				<select ng-model="selectValueD" ng-options="item.action group by item.place for item in todos">
					<option value="">(Fraga is the best)</option>
				</select>
				 ng-options="item.action group by item.place for item in todos"
			</div>
			<div class="form-group">
				<label>Select an Action:</label>
				<select ng-model="selectValueE" ng-options="item.id as item.action group by item.place for item in todos ">
					<option value="">(Mine is the best)</option>
				</select>
				 ng-options="item.id as item.action group by item.place for item in todos "
			</div>
		</div>
		<div class="well">
			<p>Selected: {{selectValue || 'None'}}</p>
			<p>Selected: {{selectValueB || 'None'}}</p>
			<p>Selected id in obj property: {{selectValueC || 'None'}}</p>
			<p>Selected id in obj property: {{selectValueD || 'None'}}</p>
			<p>Selected id in obj property: {{selectValueE || 'None'}}</p>
		</div>
	</form>
</body>
</html>
