<!DOCTYPE html>
<html ng-app="exampleApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="controllers-inheritance.js"></script>
</head>
<body ng-controller="topLevelCtrl">
	<h3>Controllers within controllers</h3>
	<h4>is interesting all child controllers have access to reverseText() from parent with adding $parent</h4>
	<h4>this demonstrates the dot property data inheritance rule</h4>
    <div class="well">
        <h4>Top Level Controller</h4>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="reverseText()">Reverse character order</button>
                <button class="btn btn-default" type="button" ng-click="changeCase()">Change Case: odd lower case, even upper case</button>
            </span>
            <input class="form-control" ng-model="data.dataValue" />
        </div>
    </div>

    <div class="well" ng-controller="firstChildCtrl">
        <h4>First Child Controller</h4>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="reverseText()">Reverse: from parent controller</button>
                <button class="btn btn-default" type="button" ng-click="changeCase()">Change Case: new function in next controller</button>
            </span>
            <input class="form-control" ng-model="data.dataValue" />
        </div>
    </div>
 
    <div class="well" ng-controller="secondChildCtrl">
        <h4>Second Child Controller</h4>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="reverseText()">Reverse: from parent.parent controller</button>
                <button class="btn btn-default" type="button" ng-click="changeCase()">Change Case: new function in last controller</button>
                <button class="btn btn-default" type="button" ng-click="shiftFour()">Shift: capitalize first four characters leave other alone</button>
            </span>
            <input class="form-control" ng-model="data.dataValue" />
        </div>
    </div>

		<h4>Understanding Data Inheritance</h4>
	<textarea name="explanation" rows="33" cols="100">
When you read the value of a property that is defined directly on the scope, AngularJS checks to see whether
there is a local property in the controller’s scope and, if not, starts working its way up the scope hierarchy to see
whether it has inherited one. However, when you use the ng-model directive to modify such a property, AngularJS
checks to see whether the scope has a property of the right name and, if not, assumes you want to implicitly define it.
The effect is to override the property value, much as I did with the behavior in the previous section. The reason that
editing the contents of a child input element prevents the Reverse button from working is that there are now two
dataValue properties—one defined by the top-level controller and one by the child you edited. The reverseText
behavior is defined by the top-level controller, and it operates on the dataValue defined in the top-level scope, leaving
the child’s dataValue property unaltered.
This doesn’t happen when you assign an object to the scope and then define your data properties on that object.
This is because JavaScript implements what is known as prototype inheritance—a topic so dry and confusing that
I am not going to attempt to explain it here, although I describe the basics in Chapter 18. What is important is the
knowledge that defining properties directly on the scope like this:
 
...
$scope.dataValue = "Hello, Adam";
...
 
means that using the ng-model directive will create local variables, while using an object as an intermediary,
like this:
 
...
$scope.data = {
dataValue: "Hello, Adam"
}
...
 
ensures that ng-model will update the data values defined in the parent scope. This is not a bug. It is a deliberate feature
that allows you to decide how your controller and its scope will work, and you can mix and match both techniques in the
same scope. If you want a value that is initially shared but will be copied when modified, then define your data properties
directly on the scope. To ensure that there is only one value, then define your data properties via an object.

	</textarea>
</body>
</html>
