<!DOCTYPE html>
<html ng-app="exampleApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script>
        angular.module('exampleApp', [])
            .service('ZipCodes', function($rootScope) {
                return {
                    setZipCode: function(type, zip) {
                        this[type] = zip; // just saving a local service copy

                        $rootScope.$broadcast('zipCodeUpdated', {
                            type: type, zipCode: zip
                        });
                    }
                };
            })
            .controller('simpleCtrl', function($scope, ZipCodes) {
                $scope.$on('zipCodeUpdated', function(event, args) {
                    $scope[args.type] = args.zipCode;
                });

                $scope.setAddress = ZipCodes.setZipCode;

                $scope.copyAddress = function() {
                    $scope.zip = $scope.billingZip;
                };
            });
    </script>
</head>
<body>
    <div class="well" ng-controller="simpleCtrl">
				<h3>Explains how to tie controller var to service func and broadcast to set scope var that was passed reusing same code with scope[varName]</h3>
        <h4>Billing Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="zip" />
        </div>
        <button class="btn btn-primary" ng-click="setAddress('billingZip', zip)">
            Save Billing, first step
        </button>
    </div>

    <div class="well" ng-controller="simpleCtrl">
        <h4>Shipping Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="zip" />
        </div>
        <button class="btn btn-primary" ng-click="copyAddress()">
            Use Billing, billing zip code will appear
        </button>
        <button class="btn btn-primary" ng-click="setAddress('shippingZip', zip)">
            Save Shipping, does nothing for UI
        </button>
    </div>
</body>
</html>
